<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/modal.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <div class="modal">

        <div class="content">
            <div class="header">
            </div>
            <div class="body">

            </div>
            <div onclick="closeModal()" class="btn btn-link">cansel</div>
            <div class="btn btn-primary">save</div>
        </div>
    </div>
    <div class="C">
        <div class="contacts-wrapper">
            <div class="row-wrapper"></div>
        </div>

        <script type="text/html" id="contant-script">
            <% _.forEach(obj, function(item, index) { %>  
        <div class="row">

            <div class="image-wrapper">
                <img onclick="showModal('<%= index %>')" class="image" src="<%= obj[index].src %>">
            </div>
            <div class="name-wrapper">
                <div class="name"><%= obj[index].fullName %></div>
            </div>
            <div class="phoneNumber-wrapper">
                <div class="phoneNumber"><%= obj[index].phoneNumber %></div>
            </div>
            <div class="actions">
                <div class="btn-icon">
                    <img class="delete" src="<%= obj[index].delete %>">
                </div>
                <div class="btn-icon">
                    <img onclick="showModal('<%= index %>')" class="edit" src="<%= obj[index].edit %>">
                </div>
            </div>
        </div>
        <% }); %> 
         </script>
        <script type="text/html" id="contant">

        <div class="img-container">
            <img class="img" src="<%= src %>" alt="">
        </div>

        <div class="input-wrapper">
            <div class="name-title">Name:</div>
            <input value="<%= fullName %>" class="firsName-input" type="text">
        </div>

        <div class="input-wrapper">
            <div class="name-title">Phone:</div>
            <input value="<%= phoneNumber %>" class="firsName-input" type="text">
        </div>

        <div class="input-wrapper">
            <div class="name-title">Address:</div>
            <input value="<%= address %>" class="firsName-input" type="text">
        </div>

    </div>

    </script>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../JavaScript/contacts.js"></script>
</body>

</html>